# Lesson 04
# Peter Lorenz

## 0. Preliminaries
Import the required libraries:

In [2]:
import matplotlib as mpl
import numpy as np
import pandas as pd

Set some global options:

In [3]:
# Display plots inline
%matplotlib inline

# Display multiple cell outputs
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# Suppress scientific notation
np.set_printoptions(suppress=True)
np.set_printoptions(precision=3)
pd.set_option('display.float_format', lambda x: '%.3f' % x)

Declare utility functions:

## 1. Read data
We begin by importing our data set:

In [5]:
# Internet location of the data set
url = "http://archive.ics.uci.edu/ml/machine-learning-databases/communities/communities.data"

# Download the data into a dataframe object
crime_data = pd.read_csv(url)

# Display shape and initial data
crime_data.shape
crime_data.head()

(1993, 128)

,8,?,?.1,Lakewoodcity,1,0.19,0.33,0.02,0.9,0.12,...,0.12.2,0.26.1,0.2.1,0.06.3,0.04.2,0.9.1,0.5.2,0.32.2,0.14.3,0.2.2
0,53,?,?,Tukwilacity,1,0.000,0.160,0.120,0.740,0.450,...,0.020,0.120,0.450,?,?,?,?,0.000,?,0.670
1,24,?,?,Aberdeentown,1,0.000,0.420,0.490,0.560,0.170,...,0.010,0.210,0.020,?,?,?,?,0.000,?,0.430
2,34,5,81440,Willingborotownship,1,0.040,0.770,1.000,0.080,0.120,...,0.020,0.390,0.280,?,?,?,?,0.000,?,0.120
3,42,95,6096,Bethlehemtownship,1,0.010,0.550,0.020,0.950,0.090,...,0.040,0.090,0.020,?,?,?,?,0.000,?,0.030
4,6,?,?,SouthPasadenacity,1,0.020,0.280,0.060,0.540,1.000,...,0.010,0.580,0.100,?,?,?,?,0.000,?,0.140

## 2. Apply three techniques for filter selection
Here we apply three techniques for filter selection.

### Filter methods
Our first method for filter selection is *Filter methods*.

### Wrapper methods
Our second method for filter selection is *Wrapper methods*.

### Embedded methods
Our third method for filter selection is *Embedded methods*.

## 3. Describe your findings
In this assignment we found that ...