# Milestone 01
# Peter Lorenz

## 0. Preliminaries

Import the required libraries:

In [2]:
import numpy as np
import pandas as pd

import matplotlib as mpl

Set global options:

In [3]:
# Display plots inline
%matplotlib inline

# Display multiple cell outputs
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# Suppress scientific notation
np.set_printoptions(suppress=True)
np.set_printoptions(precision=3)
pd.set_option('display.float_format', lambda x: '%.3f' % x)

Declare utility functions:

## 1. Refine data understanding / Prepare DFD of solving the manufacturing quality problem
In this section we refine our understanding of the data and prepare a dataflow diagram that describes a potential solution to the manufacturing quality problem.

## 2. Read and merge data
First we import the sensor data set and its accompanying labels, generating column names as necessary for convenient reference to specific features:

In [15]:
# Internet location of the data set and labels
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/secom/secom.data"
labels_url = "https://archive.ics.uci.edu/ml/machine-learning-databases/secom/secom_labels.data"

# Download sensor data and labels into a dataframe object, specify python engine for regex
sensor_data = pd.read_csv(url, sep='\s{1,}', engine='python')
sensor_labels_data = pd.read_csv(labels_url, sep='\s{1,}', engine='python')

# Generate index-based column names for the sensor data set
sensor_data.columns = list('s' + str(idx + 1) for idx in range(0, sensor_data.shape[1]))

# Assign column names to the labels
sensor_labels_data.columns = ['result', 'date', 'time']

# Display shape and initial values of the sensor data set
print('Sensor data set:')
sensor_data.shape
sensor_data.head()

# Display shape and data for labels
print('Sensor labels:')
sensor_labels_data.shape
sensor_labels_data.head()

Data set:

(1566, 590)

,s1,s2,s3,s4,s5,s6,s7,s8,s9,s10,...,s581,s582,s583,s584,s585,s586,s587,s588,s589,s590
0,3095.780,2465.140,2230.422,1463.661,0.829,100.000,102.343,0.125,1.497,-0.001,...,0.006,208.204,0.502,0.022,0.005,4.445,0.010,0.020,0.006,208.204
1,2932.610,2559.940,2186.411,1698.017,1.510,100.000,95.488,0.124,1.444,0.004,...,0.015,82.860,0.496,0.016,0.004,3.175,0.058,0.048,0.015,82.860
2,2988.720,2479.900,2199.033,909.793,1.320,100.000,104.237,0.122,1.488,-0.012,...,0.004,73.843,0.499,0.010,0.003,2.054,0.020,0.015,0.004,73.843
3,3032.240,2502.870,2233.367,1326.520,1.533,100.000,100.397,0.123,1.503,-0.003,...,nan,nan,0.480,0.477,0.104,99.303,0.020,0.015,0.004,73.843
4,2946.250,2432.840,2233.367,1326.520,1.533,100.000,100.397,0.123,1.529,0.017,...,0.005,44.008,0.495,0.019,0.004,3.828,0.034,0.015,0.005,44.008

Data set labels:

(1566, 3)

   result         date       time
0      -1  "19/07/2008  12:32:00"
1       1  "19/07/2008  13:17:00"
2      -1  "19/07/2008  14:43:00"
3      -1  "19/07/2008  15:22:00"
4      -1  "19/07/2008  17:53:00"

## 3. Clean and prepare data
We begin by examining the data types:

In [17]:
# List columns with data types
sensor_data.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1566 entries, 0 to 1565
Data columns (total 590 columns):
 #   Column  Dtype
---  ------  -----
 0   s1      float64
 1   s2      float64
 2   s3      float64
 3   s4      float64
 4   s5      float64
 5   s6      float64
 6   s7      float64
 7   s8      float64
 8   s9      float64
 9   s10     float64
 10  s11     float64
 11  s12     float64
 12  s13     float64
 13  s14     float64
 14  s15     float64
 15  s16     float64
 16  s17     float64
 17  s18     float64
 18  s19     float64
 19  s20     float64
 20  s21     float64
 21  s22     float64
 22  s23     float64
 23  s24     float64
 24  s25     float64
 25  s26     float64
 26  s27     float64
 27  s28     float64
 28  s29     float64
 29  s30     float64
 30  s31     float64
 31  s32     float64
 32  s33     float64
 33  s34     float64
 34  s35     float64
 35  s36     float64
 36  s37     float64
 37  s38     float64
 38  s39     float64
 39  s40     float64
 40  s41     float64
 41  s42     float64
 42  s43     float64
 43  s44     float64
 44  s45     float64
 45  s46     float64
 46  s47     float64
 47  s48     float64
 48  s49     float64
 49  s50     float64
 50  s51     float64
 51  s52     float64
 52  s53     float64
 53  s54     float64
 54  s55     float64
 55  s56     float64
 56  s57     float64
 57  s58     float64
 58  s59     float64
 59  s60     float64
 60  s61     float64
 61  s62     float64
 62  s63     float64
 63  s64     float64
 64  s65     float64
 65  s66     float64
 66  s67     float64
 67  s68     float64
 68  s69     float64
 69  s70     float64
 70  s71     float64
 71  s72     float64
 72  s73     float64
 73  s74     float64
 74  s75     float64
 75  s76     float64
 76  s77     float64
 77  s78     float64
 78  s79     float64
 79  s80     float64
 80  s81     float64
 81  s82     float64
 82  s83     float64
 83  s84     float64
 84  s85     float64
 85  s86     float64
 86  s87     float64
 87  s88     float64
 88  s89     float64
 89  s90     float64
 90  s91     float64
 91  s92     float64
 92  s93     float64
 93  s94     float64
 94  s95     float64
 95  s96     float64
 96  s97     float64
 97  s98     float64
 98  s99     float64
 99  s100    float64
 100 s101    float64
 101 s102    float64
 102 s103    float64
 103 s104    float64
 104 s105    float64
 105 s106    float64
 106 s107    float64
 107 s108    float64
 108 s109    float64
 109 s110    float64
 110 s111    float64
 111 s112    float64
 112 s113    float64
 113 s114    float64
 114 s115    float64
 115 s116    float64
 116 s117    float64
 117 s118    float64
 118 s119    float64
 119 s120    float64
 120 s121    float64
 121 s122    float64
 122 s123    float64
 123 s124    float64
 124 s125    float64
 125 s126    float64
 126 s127    float64
 127 s128    float64
 128 s129    float64
 129 s130    float64
 130 s131    float64
 131 s132    float64
 132 s133    float64
 133 s134    float64
 134 s135    float64
 135 s136    float64
 136 s137    float64
 137 s138    float64
 138 s139    float64
 139 s140    float64
 140 s141    float64
 141 s142    float64
 142 s143    float64
 143 s144    float64
 144 s145    float64
 145 s146    float64
 146 s147    float64
 147 s148    float64
 148 s149    float64
 149 s150    float64
 150 s151    float64
 151 s152    float64
 152 s153    float64
 153 s154    float64
 154 s155    float64
 155 s156    float64
 156 s157    float64
 157 s158    float64
 158 s159    float64
 159 s160    float64
 160 s161    float64
 161 s162    float64
 162 s163    float64
 163 s164    float64
 164 s165    float64
 165 s166    float64
 166 s167    float64
 167 s168    float64
 168 s169    float64
 169 s170    float64
 170 s171    float64
 171 s172    float64
 172 s173    float64
 173 s174    float64
 174 s175    float64
 175 s176    float64
 176 s177    float64
 177 s178    float64
 178 s179    float64
 179 s180    float64
 180 s181    float64
 181 s182    float64
 182 s183    float64
 183 s184    float64
 184 s185    float64
 185 s186    float64
 186 s187    float64
 187 s188    float64
 188 s189    float64
 189 s190    float64
 190 s191    float64
 191 s192    float64
 192 s193    float64
 193 s194    float64
 194 s195    float64
 195 s196    float64
 196 s197    float64
 197 s198    float64
 198 s199    float64
 199 s200    float64
 200 s201    float64
 201 s202    float64
 202 s203    float64
 203 s204    float64
 204 s205    float64
 205 s206    float64
 206 s207    float64
 207 s208    float64
 208 s209    float64
 209 s210    float64
 210 s211    float64
 211 s212    float64
 212 s213    float64
 213 s214    float64
 214 s215    float64
 215 s216    float64
 216 s217    float64
 217 s218    float64
 218 s219    float64
 219 s220    float64
 220 s221    float64
 221 s222    float64
 222 s223    float64
 223 s224    float64
 224 s225    float64
 225 s226    float64
 226 s227    float64
 227 s228    float64
 228 s229    float64
 229 s230    float64
 230 s231    float64
 231 s232    float64
 232 s233    float64
 233 s234    float64
 234 s235    float64
 235 s236    float64
 236 s237    float64
 237 s238    float64
 238 s239    float64
 239 s240    float64
 240 s241    float64
 241 s242    float64
 242 s243    float64
 243 s244    float64
 244 s245    float64
 245 s246    float64
 246 s247    float64
 247 s248    float64
 248 s249    float64
 249 s250    float64
 250 s251    float64
 251 s252    float64
 252 s253    float64
 253 s254    float64
 254 s255    float64
 255 s256    float64
 256 s257    float64
 257 s258    float64
 258 s259    float64
 259 s260    float64
 260 s261    float64
 261 s262    float64
 262 s263    float64
 263 s264    float64
 264 s265    float64
 265 s266    float64
 266 s267    float64
 267 s268    float64
 268 s269    float64
 269 s270    float64
 270 s271    float64
 271 s272    float64
 272 s273    float64
 273 s274    float64
 274 s275    float64
 275 s276    float64
 276 s277    float64
 277 s278    float64
 278 s279    float64
 279 s280    float64
 280 s281    float64
 281 s282    float64
 282 s283    float64
 283 s284    float64
 284 s285    float64
 285 s286    float64
 286 s287    float64
 287 s288    float64
 288 s289    float64
 289 s290    float64
 290 s291    float64
 291 s292    float64
 292 s293    float64
 293 s294    float64
 294 s295    float64
 295 s296    float64
 296 s297    float64
 297 s298    float64
 298 s299    float64
 299 s300    float64
 300 s301    float64
 301 s302    float64
 302 s303    float64
 303 s304    float64
 304 s305    float64
 305 s306    float64
 306 s307    float64
 307 s308    float64
 308 s309    float64
 309 s310    float64
 310 s311    float64
 311 s312    float64
 312 s313    float64
 313 s314    float64
 314 s315    float64
 315 s316    float64
 316 s317    float64
 317 s318    float64
 318 s319    float64
 319 s320    float64
 320 s321    float64
 321 s322    float64
 322 s323    float64
 323 s324    float64
 324 s325    float64
 325 s326    float64
 326 s327    float64
 327 s328    float64
 328 s329    float64
 329 s330    float64
 330 s331    float64
 331 s332    float64
 332 s333    float64
 333 s334    float64
 334 s335    float64
 335 s336    float64
 336 s337    float64
 337 s338    float64
 338 s339    float64
 339 s340    float64
 340 s341    float64
 341 s342    float64
 342 s343    float64
 343 s344    float64
 344 s345    float64
 345 s346    float64
 346 s347    float64
 347 s348    float64
 348 s349    float64
 349 s350    float64
 350 s351    float64
 351 s352    float64
 352 s353    float64
 353 s354    float64
 354 s355    float64
 355 s356    float64
 356 s357    float64
 357 s358    float64
 358 s359    float64
 359 s360    float64
 360 s361    float64
 361 s362    float64
 362 s363    float64
 363 s364    float64
 364 s365    float64
 365 s366    float64
 366 s367    float64
 367 s368    float64
 368 s369    float64
 369 s370    float64
 370 s371    float64
 371 s372    float64
 372 s373    float64
 373 s374    float64
 374 s375    float64
 375 s376    float64
 376 s377    float64
 377 s378    float64
 378 s379    float64
 379 s380    float64
 380 s381    float64
 381 s382    float64
 382 s383    float64
 383 s384    float64
 384 s385    float64
 385 s386    float64
 386 s387    float64
 387 s388    float64
 388 s389    float64
 389 s390    float64
 390 s391    float64
 391 s392    float64
 392 s393    float64
 393 s394    float64
 394 s395    float64
 395 s396    float64
 396 s397    float64
 397 s398    float64
 398 s399    float64
 399 s400    float64
 400 s401    float64
 401 s402    float64
 402 s403    float64
 403 s404    float64
 404 s405    float64
 405 s406    float64
 406 s407    float64
 407 s408    float64
 408 s409    float64
 409 s410    float64
 410 s411    float64
 411 s412    float64
 412 s413    float64
 413 s414    float64
 414 s415    float64
 415 s416    float64
 416 s417    float64
 417 s418    float64
 418 s419    float64
 419 s420    float64
 420 s421    float64
 421 s422    float64
 422 s423    float64
 423 s424    float64
 424 s425    float64
 425 s426    float64
 426 s427    float64
 427 s428    float64
 428 s429    float64
 429 s430    float64
 430 s431    float64
 431 s432    float64
 432 s433    float64
 433 s434    float64
 434 s435    float64
 435 s436    float64
 436 s437    float64
 437 s438    float64
 438 s439    float64
 439 s440    float64
 440 s441    float64
 441 s442    float64
 442 s443    float64
 443 s444    float64
 444 s445    float64
 445 s446    float64
 446 s447    float64
 447 s448    float64
 448 s449    float64
 449 s450    float64
 450 s451    float64
 451 s452    float64
 452 s453    float64
 453 s454    float64
 454 s455    float64
 455 s456    float64
 456 s457    float64
 457 s458    float64
 458 s459    float64
 459 s460    float64
 460 s461    float64
 461 s462    float64
 462 s463    float64
 463 s464    float64
 464 s465    float64
 465 s466    float64
 466 s467    float64
 467 s468    float64
 468 s469    float64
 469 s470    float64
 470 s471    float64
 471 s472    float64
 472 s473    float64
 473 s474    float64
 474 s475    float64
 475 s476    float64
 476 s477    float64
 477 s478    float64
 478 s479    float64
 479 s480    float64
 480 s481    float64
 481 s482    float64
 482 s483    float64
 483 s484    float64
 484 s485    float64
 485 s486    float64
 486 s487    float64
 487 s488    float64
 488 s489    float64
 489 s490    float64
 490 s491    float64
 491 s492    float64
 492 s493    float64
 493 s494    float64
 494 s495    float64
 495 s496    float64
 496 s497    float64
 497 s498    float64
 498 s499    float64
 499 s500    float64
 500 s501    float64
 501 s502    float64
 502 s503    float64
 503 s504    float64
 504 s505    float64
 505 s506    float64
 506 s507    float64
 507 s508    float64
 508 s509    float64
 509 s510    float64
 510 s511    float64
 511 s512    float64
 512 s513    float64
 513 s514    float64
 514 s515    float64
 515 s516    float64
 516 s517    float64
 517 s518    float64
 518 s519    float64
 519 s520    float64
 520 s521    float64
 521 s522    float64
 522 s523    float64
 523 s524    float64
 524 s525    float64
 525 s526    float64
 526 s527    float64
 527 s528    float64
 528 s529    float64
 529 s530    float64
 530 s531    float64
 531 s532    float64
 532 s533    float64
 533 s534    float64
 534 s535    float64
 535 s536    float64
 536 s537    float64
 537 s538    float64
 538 s539    float64
 539 s540    float64
 540 s541    float64
 541 s542    float64
 542 s543    float64
 543 s544    float64
 544 s545    float64
 545 s546    float64
 546 s547    float64
 547 s548    float64
 548 s549    float64
 549 s550    float64
 550 s551    float64
 551 s552    float64
 552 s553    float64
 553 s554    float64
 554 s555    float64
 555 s556    float64
 556 s557    float64
 557 s558    float64
 558 s559    float64
 559 s560    float64
 560 s561    float64
 561 s562    float64
 562 s563    float64
 563 s564    float64
 564 s565    float64
 565 s566    float64
 566 s567    float64
 567 s568    float64
 568 s569    float64
 569 s570    float64
 570 s571    float64
 571 s572    float64
 572 s573    float64
 573 s574    float64
 574 s575    float64
 575 s576    float64
 576 s577    float64
 577 s578    float64
 578 s579    float64
 579 s580    float64
 580 s581    float64
 581 s582    float64
 582 s583    float64
 583 s584    float64
 584 s585    float64
 585 s586    float64
 586 s587    float64
 587 s588    float64
 588 s589    float64
 589 s590    float64
dtypes: float64(590)
memory usage: 7.0 MB

All of the columns are float64, so there are no categorical columns to one-hot encode and no casting is needed. Now we look for missing data by finding the number of columns containing at least one NaN:

In [20]:
# Display number of columns with NaN in sensor data set
print("Number of columns with NaN:", len(sensor_data.columns[sensor_data.isna().any()]))

534

It appears that 534 columns have missing data that must be dealt with. We now impute and replace the missing values using the median value of the respective columns:

In [22]:
# Impute and replace missing values using column median
sensor_data = sensor_data.replace('?', np.NaN).apply(lambda x: x.fillna(x.median()))

# Verify imputation of missing values
print("Number of columns with NaN:", len(sensor_data.columns[sensor_data.isna().any()]))
sensor_data

Number of columns with NaN: 0

,s1,s2,s3,s4,s5,s6,s7,s8,s9,s10,...,s581,s582,s583,s584,s585,s586,s587,s588,s589,s590
0,3095.780,2465.140,2230.422,1463.661,0.829,100.000,102.343,0.125,1.497,-0.001,...,0.006,208.204,0.502,0.022,0.005,4.445,0.010,0.020,0.006,208.204
1,2932.610,2559.940,2186.411,1698.017,1.510,100.000,95.488,0.124,1.444,0.004,...,0.015,82.860,0.496,0.016,0.004,3.175,0.058,0.048,0.015,82.860
2,2988.720,2479.900,2199.033,909.793,1.320,100.000,104.237,0.122,1.488,-0.012,...,0.004,73.843,0.499,0.010,0.003,2.054,0.020,0.015,0.004,73.843
3,3032.240,2502.870,2233.367,1326.520,1.533,100.000,100.397,0.123,1.503,-0.003,...,0.005,72.289,0.480,0.477,0.104,99.303,0.020,0.015,0.004,73.843
4,2946.250,2432.840,2233.367,1326.520,1.533,100.000,100.397,0.123,1.529,0.017,...,0.005,44.008,0.495,0.019,0.004,3.828,0.034,0.015,0.005,44.008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1561,2899.410,2464.360,2179.733,3085.378,1.484,100.000,82.247,0.125,1.342,-0.004,...,0.005,203.172,0.499,0.014,0.004,2.867,0.007,0.014,0.005,203.172
1562,3052.310,2522.550,2198.567,1124.659,0.876,100.000,98.469,0.120,1.433,-0.006,...,0.005,72.289,0.497,0.013,0.004,2.624,0.007,0.014,0.005,203.172
1563,2978.810,2379.780,2206.300,1110.497,0.824,100.000,99.412,0.121,1.462,-0.001,...,0.003,43.523,0.499,0.015,0.004,3.059,0.020,0.009,0.003,43.523
1564,2894.920,2532.010,2177.033,1183.729,1.573,100.000,98.798,0.121,1.462,-0.007,...,0.007,93.494,0.500,0.018,0.004,3.566,0.026,0.025,0.007,93.494
1565,2944.920,2450.760,2195.444,2914.179,1.598,100.000,85.101,0.123,1.462,-0.001,...,0.004,137.784,0.499,0.018,0.004,3.627,0.012,0.016,0.004,137.784

Our data set is now free of missing values. As a sanity check, we verify that the labels data is free of missing values by displaying the number of columns with missing values:

In [23]:
# Display number of columns with NaN in sensor labels
print("Number of columns with NaN:", 
      len(sensor_labels_data.columns[sensor_labels_data.isna().any()]))

Number of columns with NaN: 0

Since neither the main data set nor the labels is left with missing values, we can now proceed to data exploration.

## 4. Explore data visually
Next we explore the data visually to gain insight into how to approach creating a model.

## 5. Handle class imbalance problem
Before proceeding we need to address the class imbalance problem inherent in the data set.

## 6. Apply feature selection techniques to reduce dimensionality of data
Here we apply feature selection techniques to reduce the dimensionality of data.

## Conclusions
In lieu of final conclusions we discuss what we have accomplished thus far and the rationale for the various steps we have implemented in preparation for creating a model.